/*
    Created by: Keller Bowman - 1001948719
    Created on: 03/02/2024
    Updated on: 03/18/2024
    Project: Personal Portfolio
*/

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200..1000&display=swap');

:root {

    /* Grid */
    --column: 12;
    --column-width: calc(100% / var(--column));
    --col-1: calc(1 * var(--column-width));
    --col-2: calc(2 * var(--column-width));
    --col-3: calc(3 * var(--column-width));
    --col-4: calc(4 * var(--column-width));
    --col-5: calc(5 * var(--column-width));
    --col-6: calc(6 * var(--column-width));
    --col-7: calc(7 * var(--column-width));
    --col-8: calc(8 * var(--column-width));
    --col-9: calc(9 * var(--column-width));
    --col-10: calc(10 * var(--column-width));
    --col-11: calc(11 * var(--column-width));
    --col-12: calc(12 * var(--column-width));

    /* Typography */
    --font-size: 20px;
    --scale: 1.5;
    --line-height: calc(1em * var(--scale));
    --p: 1.618rem;
    --h4: 1rem;
    --h3: calc(1rem * var(--scale));
    --h2: calc(var(--h3) * var(--scale));
    --h1: calc(var(--h2) * var(--scale));

    
    /* Branding */
    --primary: hsla(138, 33%, 39%, 100%);
    --primary-hover: hsla(138, 45%, 25%, 100%);
    --secondary: hsla(202, 73%, 32%, 100%);
    --secondary-blurred: hsla(202, 60%, 45%, 100%);
    --secondary-hover: hsla(202, 73%, 15%, 100%);
    --tertiary: hsla(15, 40%, 70%, 100%);
    --tertiary-hover: hsla(15, 50%, 60%, 100%);
    --font-color: #1d1d1d;

    --gray-0: #222222;
    --gray-1: #666666;
    --gray-2: #999999;
    --gray-3: #dadada;

    --white: white;
}

* {
    box-sizing: border-box;
    position: relative;
}

/* Personal Project Styles */

#fullscreen-cover img {
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    object-fit: cover;
    object-position: center;
    overflow: hidden;
}

#fullscreen-cover {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-content: space-around;
    align-items: center;
}

/* End of Personal Project Styles */

/* Images */
img {
    max-width: 100%;
}

.round-image {
    border-radius: 50%;
    overflow: hidden;
    aspect-ratio: 1;
}

.round-image img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

/* End of Images */

/* Typography */

html {
    font-size: var(--font-size);
    background-color: #051010;
}

body {
    padding: 0;
    margin: 0;
    line-height: var(--line-height);
    font-family: "Nunito", "Segoe UI", "Roboto", sans-serif;
    font-weight: 400;
    color: #dadada;
}

h1,
h2,
h3,
h4,
.h1,
.h2,
.h3,
.h4 {
    font-family: "Nunito", "Segoe UI", "Roboto", sans-serif;
    line-height: var(--line-height);
    font-weight: 800;

}

h1,
.h1 {
    font-size: var(--h1);
}

h2,
.h2 {
    font-size: var(--h2);
}

h3,
.h3 {
    font-size: var(--h3);
}

h4,
.h4 {
    font-size: var(--h4);
}

p {
    margin-bottom: var(--line-height);
}

/* End of Typography */

/* Branding */

/* Image Styles */

.rounded-image {
    border-radius: 2em;
    overflow: hidden;
    aspect-ratio: 1;
}

.rounded-image img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

/* End of Image Styles */
/* Button Styles */
.btn {
    font-size: 1rem;
    line-height: var(--line-height);
    display: inline-block;
    overflow: hidden;
    padding: calc((1em / var(--scale)) / var(--scale)) calc(1em / var(--scale));
    background-color: var(--gray-1);
    text-decoration: none;
    color: var(--white);
    border: 0 none;
    cursor: pointer;
}

.btn:hover {
    background-color: var(--gray-0);
}
.btn-primary {
    background-color: var(--primary);
}

.btn-primary:hover {
    background-color: var(--primary-hover);
}

.btn-secondary {
    background-color: var(--secondary);
}

.btn-secondary:hover {
    background-color: var(--secondary-hover);
}

.btn-tertiary {
    background-color: var(--tertiary);
}

.btn-tertiary:hover {
    background-color: var(--tertiary-hover);
}
.btn-sm {
    font-size: calc(1em / var(--scale));
}

.btn-lg {
    font-size: var(--h3);
}
/* End of Button Styles */

/* Forms */
fieldset {
    padding: var(--line-height);
    border: 1px solid var(--primary);
    margin-bottom: var(--line-height);
}

fieldset legend {
    color: var(--primary);
}

.form-group {
    margin-bottom: var(--line-height);
}

fieldset .form-group:last-of-type {
    margin-bottom: 0;
}

.form-group label {
    font-weight: bold;
}

.form-control,
.form-check-input {
    accent-color: var(--secondary);
}

input,
select,
textarea {
    font-family: inherit;
    font-size: 1rem;
    line-height: var(--line-height);
    padding: calc((1em / var(--scale)) / var(--scale) / var(--scale)) calc(1em / var(--scale) / var(--scale));
    border: 1px solid var(--gray-0);
    color: var(--font-color);
}

input.form-control {
    width: 100%;
    max-width: 100%;
}

textarea {
    width: 100%;
    max-width: 100%;
    min-height: calc(4 * var(--line-height));
}

/* Pseudo Selectors */
.form-control:focus {
    outline: var(--secondary-blurred) solid 2px;
    outline-offset: 2px;
}

.form-check-input:checked {
    box-shadow: 0 0 4px 4px var(--secondary-blurred);
}

.form-control:disabled,
.form-control:hover:disabled,
input:disabled,
input:hover:disabled {
    background-color: var(--gray-3);
    color: var(--gray-2);
    cursor: not-allowed;
}

input:invalid,
input:focus:invalid {
    border-color: var(red);
    box-shadow: 0 0 2px var(red);
    outline: var(red) solid 2px;
    outline-offset: 2px;
}
/* End of Forms */

/* Grid System */
.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    flex-flow: column nowrap;
}

@media screen and (min-width: 576px) {
    .container {
        max-width: 576px;
    }
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

@media screen and (min-width: 992px) {
    .container {
        max-width: 992px;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        max-width: 1200px;
    }
}

.row {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    margin-left: -1rem;
    margin-right: -1rem;
}

.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-xl-1,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-10,
.col-xl-11,
.col-xl-12 {
    padding: 0 1rem;
    width: 100%;
    max-width: 100%;
}

.col-xs-1 {
    flex: 0 0 var(--col-1);
    width: var(--col-1);
}

.col-xs-2 {
    flex: 0 0 var(--col-2);
    width: var(--col-2);
}

.col-xs-3 {
    flex: 0 0 var(--col-3);
    width: var(--col-3);
}

.col-xs-4 {
    flex: 0 0 var(--col-4);
    width: var(--col-4);
}

.col-xs-5 {
    flex: 0 0 var(--col-5);
    width: var(--col-5);
}

.col-xs-6 {
    flex: 0 0 var(--col-6);
    width: var(--col-6);
}

.col-xs-7 {
    flex: 0 0 var(--col-7);
    width: var(--col-7);
}

.col-xs-8 {
    flex: 0 0 var(--col-8);
    width: var(--col-8);
}

.col-xs-9 {
    flex: 0 0 var(--col-9);
    width: var(--col-9);
}

.col-xs-10 {
    flex: 0 0 var(--col-10);
    width: var(--col-10);
}

.col-xs-11 {
    flex: 0 0 var(--col-11);
    width: var(--col-11);
}

.col-xs-12 {
    flex: 0 0 var(--col-12);
    width: var(--col-12);
}


/* Styles for 'col-sm-...' grid */
@media screen and (min-width: 576px) {
    .col-sm-1 {
        flex: 0 0 var(--col-1);
        width: var(--col-1);
    }

    .col-sm-2 {
        flex: 0 0 var(--col-2);
        width: var(--col-2);
    }

    .col-sm-3 {
        flex: 0 0 var(--col-3);
        width: var(--col-3);
    }

    .col-sm-4 {
        flex: 0 0 var(--col-4);
        width: var(--col-4);
    }

    .col-sm-5 {
        flex: 0 0 var(--col-5);
        width: var(--col-5);
    }

    .col-sm-6 {
        flex: 0 0 var(--col-6);
        width: var(--col-6);
    }

    .col-sm-7 {
        flex: 0 0 var(--col-7);
        width: var(--col-7);
    }

    .col-sm-8 {
        flex: 0 0 var(--col-8);
        width: var(--col-8);
    }

    .col-sm-9 {
        flex: 0 0 var(--col-9);
        width: var(--col-9);
    }

    .col-sm-10 {
        flex: 0 0 var(--col-10);
        width: var(--col-10);
    }

    .col-sm-11 {
        flex: 0 0 var(--col-11);
        width: var(--col-11);
    }

    .col-sm-12 {
        flex: 0 0 var(--col-12);
        width: var(--col-12);
    }
}

/* Styles for 'col-md-...' grid */
@media screen and (min-width: 768px) {
    .col-md-1 {
        flex: 0 0 var(--col-1);
        width: var(--col-1);
    }

    .col-md-2 {
        flex: 0 0 var(--col-2);
        width: var(--col-2);
    }

    .col-md-3 {
        flex: 0 0 var(--col-3);
        width: var(--col-3);
    }

    .col-md-4 {
        flex: 0 0 var(--col-4);
        width: var(--col-4);
    }

    .col-md-5 {
        flex: 0 0 var(--col-5);
        width: var(--col-5);
    }

    .col-md-6 {
        flex: 0 0 var(--col-6);
        width: var(--col-6);
    }

    .col-md-7 {
        flex: 0 0 var(--col-7);
        width: var(--col-7);
    }

    .col-md-8 {
        flex: 0 0 var(--col-8);
        width: var(--col-8);
    }

    .col-md-9 {
        flex: 0 0 var(--col-9);
        width: var(--col-9);
    }

    .col-md-10 {
        flex: 0 0 var(--col-10);
        width: var(--col-10);
    }

    .col-md-11 {
        flex: 0 0 var(--col-11);
        width: var(--col-11);
    }

    .col-md-12 {
        flex: 0 0 var(--col-12);
        width: var(--col-12);
    }
}

/* Styles for 'col-lg-...' grid */
@media screen and (min-width: 992px) {
    .col-lg-1 {
        flex: 0 0 var(--col-1);
        width: var(--col-1);
    }

    .col-lg-2 {
        flex: 0 0 var(--col-2);
        width: var(--col-2);
    }

    .col-lg-3 {
        flex: 0 0 var(--col-3);
        width: var(--col-3);
    }

    .col-lg-4 {
        flex: 0 0 var(--col-4);
        width: var(--col-4);
    }

    .col-lg-5 {
        flex: 0 0 var(--col-5);
        width: var(--col-5);
    }

    .col-lg-6 {
        flex: 0 0 var(--col-6);
        width: var(--col-6);
    }

    .col-lg-7 {
        flex: 0 0 var(--col-7);
        width: var(--col-7);
    }

    .col-lg-8 {
        flex: 0 0 var(--col-8);
        width: var(--col-8);
    }

    .col-lg-9 {
        flex: 0 0 var(--col-9);
        width: var(--col-9);
    }

    .col-lg-10 {
        flex: 0 0 var(--col-10);
        width: var(--col-10);
    }

    .col-lg-11 {
        flex: 0 0 var(--col-11);
        width: var(--col-11);
    }

    .col-lg-12 {
        flex: 0 0 var(--col-12);
        width: var(--col-12);
    }
}

/* Styles for 'col-xl-...' grid */
@media screen and (min-width: 1200px) {
    .col-xl-1 {
        flex: 0 0 var(--col-1);
        width: var(--col-1);
    }

    .col-xl-2 {
        flex: 0 0 var(--col-2);
        width: var(--col-2);
    }

    .col-xl-3 {
        flex: 0 0 var(--col-3);
        width: var(--col-3);
    }

    .col-xl-4 {
        flex: 0 0 var(--col-4);
        width: var(--col-4);
    }

    .col-xl-5 {
        flex: 0 0 var(--col-5);
        width: var(--col-5);
    }

    .col-xl-6 {
        flex: 0 0 var(--col-6);
        width: var(--col-6);
    }

    .col-xl-7 {
        flex: 0 0 var(--col-7);
        width: var(--col-7);
    }

    .col-xl-8 {
        flex: 0 0 var(--col-8);
        width: var(--col-8);
    }

    .col-xl-9 {
        flex: 0 0 var(--col-9);
        width: var(--col-9);
    }

    .col-xl-10 {
        flex: 0 0 var(--col-10);
        width: var(--col-10);
    }

    .col-xl-11 {
        flex: 0 0 var(--col-11);
        width: var(--col-11);
    }

    .col-xl-12 {
        flex: 0 0 var(--col-12);
        width: var(--col-12);
    }
}

/* End of Grid System */

/*
    * Window size styles
    * Do not edit or delete this from examples
*/
#windowSize {
    padding: 0.25rem 0.5rem;
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    user-select: none;
    z-index: 10;
}

/* End of Window size styles */